<!doctype html>
<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                </ul>
            </div>
        </div>

        <div ng-controller="EventController">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" title="{{event.name}}" />
            <div class="row">
                <div class="col-md-10">
                    <!--<div ng-bind-html="snippet"> Sone Title </div> -->
                    <h2 ng-class="myclass" ng-bind-template="{{event.name | uppercase}} {{event.date | lowercase}}"> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div><strong>Date:</strong> {{event.date}}</div>
                    <div><strong>Time:</strong> {{event.time}}</div>
                </div>
                <div class="col-md-3">
                    <div><strong>Address:</strong></div>
                    <div>{{event.location.address}}</div>
                    <div>{{event.location.city}} , {{event.location.province}}.</div>
                </div>
            </div>
            <hr />
            <!--Filter example -->
            <div class "">
                {{3.12545484 | number:2}}
                <br> {{3 | number:2}}
                <br> Price:{{34 | currency}}
                <br> Date:{{1259781015626 | date:'medium'}}
                <br> Date:{{1259781015626 | date:'mediumDate'}}
            </div>
            <div>
                <h3 ng-show="boolValue">Show This</h3>
                <h3 ng-hide="boolValue">Hide This</h3>
            </div>
            <h3>Sessions</h3> Order By:
            <select ng-model="sortOrder" class="input-small">
                <option selected value="name">Name</option>
                <option value="-upVoteCount">Votes</option>
            </select>
            Show:
            <select ng-model="query.level" class="input-medium">
                <option selected value="">All</option>
                <option selected value="introductory">Introductory</option>
                <option selected value="intermediate">Intermediate</option>
                <option selected value="advanced">Advanced</option>
            </select>
            <ul class="thumbnails list-unstyled">
                <li ng-repeat="session in event.sessions | orderBy:sortOrder | limitTo:5 | filter:query">
                    <div class="row session">
                        <div class="col-md-1 well votingWidget">
                            <div class="votingButton" ng-click="upVoteSession(session)">
                                <i class="fa fa-chevron-up icon-white"></i>
                            </div>
                            <div class="badge badge-inverse">
                                <div>{{session.upVoteCount}}</div>
                            </div>
                            <div class="votingButton" ng-click="downVoteSession(session)">
                                <i class="fa fa-chevron-down icon-white"></i>
                            </div>
                        </div>
                        <div class="well col-md-9">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h5 class="well-title">{{session.creatorName}}</h5>
                            <p>Duration:{{session.duration | durations}}</p>
                            <p>Duration:{{session.level}}</p>
                            <p>Duration:{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</html>
<script src="https://code.jquery.com/jquery-2.2.0.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/EventController.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
</body>

</html>
