<!doctype html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <html lang="en" ng-app="eventsApp">

    <head>
        <meta charset="utf-8">
        <title>Events App</title>
    </head>

    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                    </ul>
                </div>
            </div>
            <div ng-controller="EditEventControler">
                <div class="container">
                    <h1>New Event</h1>
                    <hr/>
                    <form name="newEventform">
                        <fieldset>
                            <div class="form-group">
                                <label for="eventName">Event Name:</label>
                                <input id="eventName" required ng-model="event.name" type="text" placeholder="Name of your event..." />
                                <div>test{{event.name}}</div>
                            </div>
                            <div class="form-group">
                                <label for="eventDate">Event Date:</label>
                                <input id="eventDate" required ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/" ng-model="event.date" type="text" placeholder="format (mm/dd/yyy)..." />
                            </div>
                            <div class="form-group">
                                <label for="eventTime">Event Time:</label>
                                <input id="eventTime" ng-model="event.time" type="text" placeholder="start and end time..." />
                            </div>
                            <div class="form-group">
                                <label for="eventLocation">Event Location:</label>
                                <input id="eventLocation" ng-model="event.location.address" type="text" placeholder="Address of event..." />
                            </div>
                            <div class="form-group">
                                <label for="eventCity">Event City:</label>
                                <input id="eventCity" type="text" ng-model="event.location.city" placeholder="city..." />
                                <input id="eventProvince" type="text" ng-model="event.location.province" placeholder="city..." />
                            </div>
                            <div class="form-group">
                                <label for="eventImageUrl">Image:</label>
                                <input id="eventImageUrl" type="url" ng-model="event.imageUrl" placeholder="url of image..." />
                            </div>
                            <img ng-src="{{event.imageUrl}}" src="" />
                            <br>
                            <br>
                            <button type="submit" ng-disabled="newEventform.$invalid" class="btn btn-primary" ng-click="saveEvent(event,newEventform)">Save</button>
                            <button type="button" class="btn btn-defualt" ng-click="cancelEdit()">Cancel</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div ng-controller="EventController">
                <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" title="{{event.name}}" />
                <div class="row">
                    <div class="col-md-10">
                        <!--<div ng-bind-html="snippet"> Sone Title </div> -->
                        <h2 ng-class="myclass" ng-bind-template="{{event.name | uppercase}} {{event.date | lowercase}}"> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div><strong>Date:</strong> {{event.date}}</div>
                        <div><strong>Time:</strong> {{event.time}}</div>
                    </div>
                    <div class="col-md-3">
                        <div><strong>Address:</strong></div>
                        <div>{{event.location.address}}</div>
                        <div>{{event.location.city}} , {{event.location.province}}.</div>
                    </div>
                </div>
                <hr />
                <!--Filter example -->
                <div class "">
                    {{3.12545484 | number:2}}
                    <br> {{3 | number:2}}
                    <br> Price:{{34 | currency}}
                    <br> Date:{{1259781015626 | date:'medium'}}
                    <br> Date:{{1259781015626 | date:'mediumDate'}}
                </div>
                <div>
                    <h3 ng-show="boolValue">Show This</h3>
                    <h3 ng-hide="boolValue">Hide This</h3>
                </div>
                <h3>Sessions</h3> Order By:
                <select ng-model="sortOrder" class="input-small">
                    <option selected value="name">Name</option>
                    <option value="-upVoteCount">Votes</option>
                </select>
                Show:
                <select ng-model="query.level" class="input-medium">
                    <option selected value="">All</option>
                    <option selected value="introductory">Introductory</option>
                    <option selected value="intermediate">Intermediate</option>
                    <option selected value="advanced">Advanced</option>
                </select>
                <ul class="thumbnails list-unstyled">
                    <li ng-repeat="session in event.sessions | orderBy:sortOrder | limitTo:5 | filter:query">
                        <div class="row session">
                            <div class="col-md-1 well votingWidget">
                                <div class="votingButton" ng-click="upVoteSession(session)">
                                    <i class="fa fa-chevron-up icon-white"></i>
                                </div>
                                <div class="badge badge-inverse">
                                    <div>{{session.upVoteCount}}</div>
                                </div>
                                <div class="votingButton" ng-click="downVoteSession(session)">
                                    <i class="fa fa-chevron-down icon-white"></i>
                                </div>
                            </div>
                            <div class="well col-md-9">
                                <h4 class="well-title">{{session.name}}</h4>
                                <h5 class="well-title">{{session.creatorName}}</h5>
                                <p>Duration:{{session.duration | durations}}</p>
                                <p>Duration:{{session.level}}</p>
                                <p>Duration:{{session.abstract}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>

    </html>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/EditEventControler.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>

</html>
