<!doctype html>
<html lang="en" ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"> -->
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                </ul>
            </div>
        </div>
         <div ng-controller="EditEventControler">
                <div class="container">
                    <h1>New Event</h1>
                    <hr/>
                    <form name="newEventform">
                        <fieldset>
                            <div class="form-group">
                                <label for="eventName">Event Name:</label>
                                <input id="eventName" required ng-model="event.name" type="text" placeholder="Name of your event..." />
                                <div>test{{event.name}}</div>
                            </div>
                            <div class="form-group">
                                <label for="eventDate">Event Date:</label>
                                <input id="eventDate" required ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/" ng-model="event.date" type="text" placeholder="format (mm/dd/yyy)..." />
                            </div>
                            <div class="form-group">
                                <label for="eventTime">Event Time:</label>
                                <input id="eventTime" ng-model="event.time" type="text" placeholder="start and end time..." />
                            </div>
                            <div class="form-group">
                                <label for="eventLocation">Event Location:</label>
                                <input id="eventLocation" ng-model="event.location.address" type="text" placeholder="Address of event..." />
                            </div>
                            <div class="form-group">
                                <label for="eventCity">Event City:</label>
                                <input id="eventCity" type="text" ng-model="event.location.city" placeholder="city..." />
                                <input id="eventProvince" type="text" ng-model="event.location.province" placeholder="city..." />
                            </div>
                            <div class="form-group">
                                <label for="eventImageUrl">Image:</label>
                                <input id="eventImageUrl" type="url" ng-model="event.imageUrl" placeholder="url of image..." />
                            </div>
                            <img ng-src="{{event.imageUrl}}" src="" />
                            <br>
                            <br>
                            <button type="submit" ng-disabled="newEventform.$invalid" class="btn btn-primary" ng-click="saveEvent(event,newEventform)">Save</button>
                            <button type="button" class="btn btn-defualt" ng-click="cancelEdit()">Cancel</button>
                        </fieldset>
                    </form>
                </div>
            </div>

    </div>

</html>
<script src="https://code.jquery.com/jquery-2.2.0.min.js "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/EditEventController.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
</body>

</html>
